<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Clase 9 versión Backend</title>
	</head>
	<body>
		<nav style="width:100%;">
			<ul style="display:flex; jutify-content: center; gap:40px; ">
				<li><a href="/">Home</a> </li>
				<li><a href="/contacto">Contacto</a> </li>
				<li><a href="/usuarios">Usuarios</a> </li>

			</ul>
		</nav>
		{{{body}}}
	</body>
</html>